.blur {
  position: absolute;
  bottom: initial;
  width: 120rem;
  height: 72rem;
  margin-top: 23.5rem;
}

.elipse1 {
  position: absolute;
  width: 30rem;
  height: 30rem;
  border-radius: 50%;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background: var(--pink-low);
  filter: blur(334px);
}

.elipse2 {
  position: absolute;
  width: 23.5rem;
  height: 23.5rem;
  border-radius: 50%;
  top: 10%;
  background: var(--pink-low);
  filter: blur(254px);
}

.elipse3 {
  position: absolute;
  width: 33.625rem;
  height: 33.625rem;
  border-radius: 50%;
  left: calc(50% - 33.625rem / 2 - 219px);
  bottom: 0;
  background: var(--pink-low);
  filter: blur(434px);
}

.elipse4 {
  position: absolute;
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  left: calc(50% - 241px / 2 + 696.5px);
  top: 0;
  background: var(--pink-low);
  filter: blur(234px);
}
