.pricing {
  /* border: 1px solid blue; */
  background-image: url(../assets/pricing-background.png);
  width: 100%;
  height: 77.125rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  & .pricing-title {
    margin-top: 12.125rem;
    font: var(--title-sm);
    color: var(--text-title);
  }
}

.pricing-cards {
  position: relative;
  /* border: 1px solid rgb(197, 37, 98); */
  display: flex;
  width: 65.625rem;
  height: 37.875rem;
  margin-top: 3.5rem;
}

.monthly-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 32px 32px 28px;
  gap: 56px;

  position: absolute;
  width: 288px;
  height: 416px;
  /* left: calc(50% - 288px / 2 - 290px);
  top: calc(50% - 416px / 2 + 45px); */

  left: calc(50% - 288px / 2 + 0.43px);
  top: calc(50% - 416px / 2 - 12.91px);

  background: var(--shape-base);
  border: 1px solid var(--shape-stroke);
  border-radius: 24px;

  transition: background 0.3s ease-in-out, transform 0.3s ease-out,
    box-shadow 0.3s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.monthly-card-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;

  & .monthly-card-header-title {
    font: var(--title-xs);
    color: var(--blue-light);
  }

  & .monthly-card-header-pricing {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;

    & .monthly-price {
      font: var(--title-md);
      color: var(--text-title);

      & small {
        font: var(--title-xs);
      }
    }

    & .yearly-price {
      font: var(--body-sm);
      color: var(--text-label);
    }
  }
}

.monthly-card-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;

  & .monthly-card-details-items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.75rem;

    & .item {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.5rem;

      & img {
        width: 0.875rem;
        height: 0.875rem;
      }

      & p {
        font: var(--body-xs);
        color: var(--text-body);
      }
    }
  }

  & .monthly-card-details-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 14rem;
    height: 2.5rem;
    background: var(--blue-dark);
    border-radius: 0.5rem;
    overflow: hidden;

    & p {
      font: var(--button);
      color: var(--text-title);
      z-index: 1;
    }
  }

  .monthly-card-details-btn::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    background: radial-gradient(circle, var(--blue-mid) 0%, transparent 100%);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: width 0.3s ease-out, height 0.5s ease-out;
    border-radius: 50%;
  }

  .monthly-card-details-btn:hover::before {
    width: 150%;
    height: 150%;
  }
}

.monthly-card:hover {
  background: var(--shape-hover);
  transform: rotate(-8deg) translateY(-5px);
  box-shadow: 0px 0px 66px rgba(53, 139, 185, 0.1);
  z-index: 2;
}

.yearly-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 32px 32px 28px;

  position: absolute;
  width: 288px;
  height: 416px;
  /* left: calc(50% - 288px / 2 + 290px);
  top: calc(50% - 416px / 2 + 45px); */

  left: calc(50% - 288px / 2 + 0.43px);
  top: calc(50% - 416px / 2 - 12.91px);

  background: var(--shape-base);
  border: 1px solid var(--shape-stroke);
  border-radius: 24px;
  transition: background 0.3s ease-in-out, transform 0.3s ease-out,
    box-shadow 0.3s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.yearly-card:hover {
  background: var(--shape-hover);
  transform: rotate(8deg) translateY(-5px);
  box-shadow: 0px 0px 66px rgba(53, 139, 185, 0.1);
  z-index: 1;
}

.monthly-star-big {
  position: absolute;
  width: 26px;
  height: 26px;
  /* left: calc(50% - 26px / 2 - 471.14px);
  top: calc(50% - 26px / 2 - 155px); */

  left: calc(50% - 26px / 2 - 170px); /* left -300*/
  top: calc(50% - 26px / 2 - 220px); /* top +65*/

  transform: rotate(-8deg);
  transition: transform 0.3s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.monthly-star-small {
  position: absolute;
  width: 13.06px;
  height: 13.06px;
  /* left: calc(50% - 13.06px / 2 - 483.03px);
  top: calc(50% - 13.06px / 2 - 120px); */

  left: calc(50% - 13.06px / 2 - 183.03px);
  top: calc(50% - 13.06px / 2 - 185px);

  transform: rotate(-8deg);
  transition: transform 0.3s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.monthly-card:hover ~ .monthly-star-big {
  transform: rotate(-18deg);
  transition: transform 0.3s ease-in-out;
}

.monthly-card:hover ~ .monthly-star-small {
  transform: rotate(2deg);
  transition: transform 0.3s ease-in-out;
}

.yearly-star-big {
  position: absolute;
  width: 23.22px;
  height: 23.22px;
  left: calc(50% - 23.22px / 2 + 160px); 
  top: calc(50% - 23.22px / 2 + 215px); 

  transform: rotate(-8deg);
  transition: transform 0.3s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.yearly-star-small {
  position: absolute;
  width: 11.25px;
  height: 11.25px;
  left: calc(50% - 11.25px / 2 + 123px);
  top: calc(50% - 11.25px / 2 + 223px);

  transform: rotate(-8deg);
  transition: transform 0.3s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.yearly-card:hover ~ .yearly-star-big {
  transform: rotate(-18deg);
  transition: transform 0.3s ease-in-out;
}

.yearly-card:hover ~ .yearly-star-small {
  transform: rotate(2deg);
  transition: transform 0.3s ease-in-out;
}

.semi-annual-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 32px 32px 28px;
  gap: 56px;
  isolation: isolate;
  border: 1px solid var(--shape-stroke);
  z-index: 1;

  position: absolute;
  width: 288px;
  height: 416px;
  left: calc(50% - 288px / 2 + 0.43px);
  top: calc(50% - 416px / 2 - 12.91px);

  background: #001933;
  border-radius: 24px;

  transition: background 0.3s ease-in-out, transform 0.3s ease-out,
    box-shadow 0.3s ease-in-out;
}

.semi-annual-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 0px 66px rgba(53, 139, 185, 0.1);
}

.semi-annual-card-details-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 14rem;
  height: 2.5rem;
  background: var(--pink-dark);
  border-radius: 0.5rem;
  overflow: hidden;

  & p {
    font: var(--button);
    color: var(--text-title);
    z-index: 1;
  }
}

.semi-annual-card-details-btn::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  background: radial-gradient(circle, var(--pink-base) 0%, transparent 100%);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: width 0.3s ease-out, height 0.5s ease-out;
  border-radius: 50%;
}

.semi-annual-card-details-btn:hover::before {
  width: 150%;
  height: 150%;
}

.semi-annual-card-header-title {
  font: var(--title-xs);
  color: var(--pink-light);
}

.popular {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 9px 20px;

  position: absolute;
  width: 90px;
  height: 30px;
  right: 24.43px;
  top: 23.91px;

  background: var(--shape-stroke);
  border-radius: 999px;

  & p {
    font: var(--tag);
    color: var(--text-body);
  }
}

.bunny {
  position: absolute;
  width: 45.05px;
  height: 49.93px;
  left: 32px;
  top: -50.19px;
}

.pricing:hover .semi-annual-card:hover {
  background: var(--shape-hover);
  transform: translateY(-5px);
  box-shadow: 0px 0px 66px rgba(53, 139, 185, 0.1);
  z-index: 1;
}

.pricing:hover .monthly-card:hover {
  background: var(--shape-hover);
  transform: rotate(-8deg) translateY(-5px);
  box-shadow: 0px 0px 66px rgba(53, 139, 185, 0.1);
  z-index: 2;
}

.pricing:hover .monthly-card {
  left: calc(50% - 288px / 2 - 290px);
  top: calc(50% - 416px / 2 + 45px);
  transform: rotate(-8deg);
}

.pricing:hover .yearly-card:hover {
  background: var(--shape-hover);
  transform: rotate(8deg) translateY(-5px);
  box-shadow: 0px 0px 66px rgba(53, 139, 185, 0.1);
  z-index: 1;
}

.pricing:hover .yearly-card {
  left: calc(50% - 288px / 2 + 290px);
  top: calc(50% - 416px / 2 + 45px);
  transform: rotate(8deg);
}

.pricing:hover .semi-annual-card {
  left: calc(50% - 288px / 2 + 0.43px);
  top: calc(50% - 416px / 2 - 12.91px);
  transform: rotate(0deg);
}

.pricing:hover .monthly-star-big {
  left: calc(50% - 26px / 2 - 471.14px);
  top: calc(50% - 26px / 2 - 155px);
}

.pricing:hover .monthly-star-small {
  left: calc(50% - 13.06px / 2 - 483.03px);
  top: calc(50% - 13.06px / 2 - 120px);
}

.pricing:hover .yearly-star-big {
  left: calc(50% - 23.22px / 2 + 428.72px);
  top: calc(50% - 23.22px / 2 + 280px);
}

.pricing:hover .yearly-star-small {
  left: calc(50% - 11.25px / 2 + 391.16px);
  top: calc(50% - 11.25px / 2 + 288px);
}
